* {
    margin: 0;
    padding: 0;
}

/* Home Page */

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: #eace09;
    line-height: 1.5;
    background-image: url("../img/landingpagepic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#landingpage {
    background-image: url("../img/landingpagepic.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

#landingpageh1 {
    font-size: 150px;
    line-height: 1.2;
    color: #000;
    text-align: center;
}

#landingpagep {
    font-size: 35px;
    background: #eace09;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}

*/
/* Home Page */

/* News Page */

#background-image {
    background-image: url("../img/landingpagepic.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progress-container {
    padding: 10px;
    border: solid;
    margin: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: crimson;
}

#progress-bars {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 0.3em;
    color: #eace09;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.progressbar {
    margin: 15px;
}

.latest-release {
    padding: 10px;
    border: solid;
    margin: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: crimson;
}

#latest-news {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.5em;
    color: #eace09;
    margin-left: auto;
    margin-right: auto;
}

/* News Page */

/* Library Page */

.book-titles {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 0.2em;
    color: #eace09;
    border: solid;
    background-color: crimson;
    margin: 10px 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Library Page */

/* About Page */

.about-guy {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.5em;
    color: #eace09;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* About Page */