* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Allison", cursive;
    font-size: 25px;
    color: #eace09;
    line-height: 1.5;
}

#backgroundimage {
    background-image: url("../img/landingpagepic.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

#backgroundimage h1 {
    font-size: 150px;
    line-height: 1.2;
}

#backgroundimage h1:hover {
    background: #eace09;
    color: #fff;
    border-radius: 20px;
}

#backgroundimage p {
    font-size: 35px;
    background: #eace09;
    color: #fff;
    border-radius: 20px;
}

#backgroundimage .button {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border: #fff 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
}

#backgroundimage .button:hover {
    background: #eace09;
    color: #fff;
}