* {
    margin: 0;
    padding: 0;
}

/* Home Page */

body {
    margin: 0 auto;
    padding-top: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    text-align: center;
    line-height: 2;
    background-image: url("../img/background.min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#navdesign {
    font-size: medium;
    background-color: #f4eacc;
    line-height: 1.5;
}

.nav-link:hover {
    font-size: 120%;
}

.block {
    background-image: url("../img/background.min.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

#block__elem1 {
    font-size: 8vw;
    background-color: #e1b284;
    line-height: 1.2;
    color: #000;
    text-align: center;
}

#block__elem2 {
    font-size: 2vw;
    color: #000;
    background-color: #f4eacc;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#footerDesign {
    font-size: medium;
    background-color: #f4eacc;
    margin-bottom: -16px;
    margin-top: 3em;
}

/* Home Page */

/* News Page */

.progress-container {
    background-color: #f4eacc;
    color: #000;
    border: solid #e1b284;
    justify-items: center;
    padding: 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.progress-container h3 {
    font-size: medium;
}

#progress-bars {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 0.3em;
    background-color: #e1b284;
    color: #000;
    margin-left: auto;
    margin-right: auto;
}

.progressbar {
    margin: 15px;
}

.latest-release {
    background-color: #f4eacc;
    color: #000;
    padding: 10px;
    border: solid #e1b284;
    margin: 10px 20px;
    margin-left: auto;
    margin-right: auto;
}

#latest-news {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.3em;
    background-color: #e1b284;
    color: #000;
    margin-left: auto;
    margin-right: auto;
}

/* News Page */

/* Library Page */

.book-titles {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 0.2em;
    background-color: #e1b284;
    color: #000;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

/* Library Page */

/* About Page */

.about-guy {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.3em;
    background-color: #e1b284;
    color: #000;
    margin-left: auto;
    margin-right: auto;
}

/* About Page */